header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    float: left;
    background-color: #000000;
    -webkit-box-shadow: 0 4px 6px -6px #222;
    -moz-box-shadow: 0 4px 6px -6px #222;
    box-shadow: 0 4px 6px -6px #222;
}
nav {
    float: left;
    font-size: 14pt;
    margin-top: 1.5%;
    margin-right: 3%;
}

nav > a {
    float: left;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: #afacac;
}
nav > a:hover{
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    color: #ffffff;
}